body{
    margin: 60px;
}
.xd{
    display: flex;
    justify-content: start;
    align-items: start;
}

#welcome {
    
    color: gray;
}

#location {
    
    right: 450px;
    margin-left: 50rem;
    color: gray;
}
#licon{
    color: lightseagreen;
}

#track {
    color: gray;
}
#ticon{
    color: lightseagreen;
}

#offers {
    color: gray;
}
#oicon{
    color: lightseagreen;
}

.second {
    display: flex;
    margin-top: 2rem;
}

#div1 h1 {
    color: lightskyblue;
    margin-top: -2px;
}

#div1 form input[type="search"] {
    margin-left: 40rem;
    padding: 22px;
    width: 400px;
    height: 30px;
    border-radius: 20px;
}

.first{
    margin-right: 2rem;
}

.inp{
    display: flex !important;
}

.inp i{
    position: absolute;
    margin-left: 647px;
    margin-top: 16px;
    color: gray;
}
#searchicon{
    color: lightseagreen;
}
#rd{
    
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
}
#rdicon{
    color: lightseagreen;
}
#cart{
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
}
#carticon{
    color: lightseagreen;
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.btn{
    padding: 5px 30px 5px 30px;
    border: 2px solid grey;
    border-radius: 20px;
}
.btn:hover{
    background-color: lightseagreen;
    color: white;
    border: 2px solid lightseagreen;
}       